body {
    font-family: 'Raleway', sans-serif;
    line-height: 2;
    box-sizing: border-box;
    max-width: 1400px;
    font-weight: 300;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

h2 {
    font-size: 22px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

.blue {
    color: #0065FC;
}

.gray {
    color: #d0cece;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar ul {
    display: flex;
    margin-right: 48px;
    justify-content: space-between;
}

.navbar ul li {
    padding: 32px;
    text-align: center;
    transition: color .5s;
}

.navbar ul li:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 30px;
}

img[src="images/logo/Booki.png"] {
    height: 48px;
    width: auto;
    margin-left: 64px;
}

@media only screen and (max-width: 768px) {

    .navbar {
        justify-content: space-around;
    }

    img[src="images/logo/Booki.png"] {
        padding-top: 32px;

    }

    .logo {
        margin-left: auto;
        margin-right: auto;
    }

    .navbar ul {
        padding: 0;
        margin: 0;
        justify-items: stretch;
        width: 100%;
    }

    .navbar ul li {
        padding: auto;
        margin: 0;
        flex-grow: 1;
        flex-basis: 50%;
        padding-top: 16px;
        padding-bottom: 14px;
        border-bottom: 2px solid #F2F2F2;
    }

    .navbar ul li:hover {
        border-bottom: 2px solid #0065FC;
        border-top: 0px;
        padding-top: 16px;
    }

}

.herotitle {
    margin-left: 48px;
    padding-bottom: 16px;
}

.herotitle h1,
.herotitle p {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
}

@media only screen and (max-width: 768px) {
    .herotitle {
        margin-left: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-right: 40px;
    }
}

.search-filter-section,
.hebergements-section,
.activites-section {
    margin-left: 48px;
}

@media only screen and (max-width: 768px) {

    .hebergements-section,
    .activites-section {
        margin-left: 0;
        margin-right: 0;
    }

    .search-filter-section {
        margin-left: 16px;
        margin-right: 8px;
    }
}

.search-box {
    display: flex;
    width: 424px;
    border-radius: 16px;
    overflow: hidden;
    justify-content: center;
    height: 50px;

}

.fa-location-dot {
    background-color: #F2F2F2;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.input-field {
    width: auto;
    padding-left: 16px;
    outline: none;
    border: 1px solid #F2F2F2;
    flex: 1;

}

::placeholder {
    color: black;
    font-weight: 600;
    font-size: 18px;
}

input[type="submit"],
button[type="submit"] {
    background-color: #0065FC;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding-left: 16px;
    padding-right: 16px;
    border: 0px;
    cursor: pointer;
    transition: color 0.7s;
}

input[type="submit"] {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

button[type="submit"] {
    border-radius: 16px;
    position: relative;
    right: 8px;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: white;
    color: #0065FC;
}

@media only screen and (min-width: 768px) {
    button[type="submit"] {
        visibility: hidden;
    }
}

@media only screen and (max-width: 768px) {
    .search-box {
        width: 100%;
    }

    input[value="Rechercher"] {
        display: none;
    }

}

.filters-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
}

.filter-button {
    display: inline-flex;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #d0cece;
    background-color: white;
    outline: none;
    margin: 16px;
    border-radius: 24px;
    padding: 0;
    align-items: center;
}

.filter-button-text,
.filter-button-icon {
    display: inline-flex;
    align-items: center;
    transition: color .7s;
}

.filter-button-icon {
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 16px;
    border-radius: 24px;
    position: relative;
    right: 2px;
    z-index: 1;
    width: 20px;
    transition: color .7s;

}

.filter-button-text {
    height: 100%;
    padding-left: 8px;
    padding-right: 16px;
}

.filter-button:hover {
    color: #0065FC;
    border: none;
    cursor: pointer;
}

.filter-button:hover .filter-button-icon {
    color: white;
    background-color: #0065FC;
    margin-left: 2px;
}

.filter-button:hover .filter-button-icon {
    margin-right: 2px;
}

@media only screen and (max-width: 768px) {
    .filters-title {
        width: 100%;
        margin-bottom: -4px;
    }

    .filter-button {
        font-size: 16px;
        margin: 8px;
    }

    .filter-button-icon {
        border: 1px solid #DEEBFF;
    }
}

.info-container {
    display: flex;
    align-items: center;
}

.info-icon {
    color: #0065FC;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

.info-text {
    line-height: 1;
}

@media only screen and (max-width: 768px) {
    .info-container {
        align-items: flex-start;
        margin-top: 8px;
    }

    .info-text {
        margin-top: 8px;
    }
}


.hebergements-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.hebergements-card-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: 624px;
    background-color: #F2F2F2;
    width: 880px;
    border-radius: 16px;

}

.card-grid-text {
    width: 100%;
    margin-left: 36px;

}

p.card-grid-text {
    font-weight: 600;
}

.card-grid-title {
    margin-bottom: 0;

}

.hebergements-card {
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border: 4px solid white;
    border-radius: 16px;
    width: 240px;
    transition: transform .2s;
}

.hebergements-card:hover {
    transform: scale(1.05);
}

.hebergements-card-image {
    height: 116px;
    display: flex;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.hebergements-card-image img {
    width: 100%;
    align-self: center;
}

.hebergements-card-body {

    height: 50px;

    line-height: 0.5;
    padding-left: 16px;
    padding-bottom: 8px;
}

.hebergements-card-body h3 {
    font-size: 16px;

}

.hebergements-card-body p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.hebergements-card-body i {
    padding-top: 16px;
}

@media only screen and (max-width: 768px) {

    .card-grid-text {
        margin: 16px;
    }

    .hebergements-card-container {
        height: fit-content;
        background-color: white;
        width: 100%;
    }

    .hebergements-card {
        width: 88%;
        margin: 8px auto;
    }

}

.populaires {
    background-color: #F2F2F2;
    width: 420px;
    height: 624px;
    border-radius: 16px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.populaires-title h2 {
    margin-left: 36px;
}

.populaires-title i {
    margin-right: 36px;
}

.populaires-card {
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border: 4px solid white;
    border-radius: 16px;
    width: 346px;
    transition: transform .2s;
}

.populaires-card-inside-container {
    display: flex;
}

.populaires-card:hover {
    transform: scale(1.05);
}

.populaires-card-image {
    height: 134px;
    width: 128px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

}

.populaires-card-image img {
    height: 100%;
    align-self: center;
}

img[src="images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg"] {
    scale: 1.5;
}

.populaires-card-body {
    line-height: 0.5;
    padding-left: 16px;
    padding-bottom: 8px;
    width: 160px;
}

.populaires-card-body h3 {
    font-size: 16px;
    line-height: 1.1;
}

.populaires-card-body p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.populaires-card-body i {
    padding-top: 40px;
}

@media only screen and (max-width: 768px) {
    .populaires {
        width: 100%;
        height: 580px;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 0;
        justify-items: center;
        align-content: flex-start;
        gap: 8px;
    }

    .populaires-title {
        margin-top: 16px;
    }

    .populaires-title h2 {
        margin-left: 16px;
    }

    .populaires-title i {
        position: relative;
        left: 16px;
    }

    .populaires-card {
        width: 88%;
    }
}

.activites {
    width: 1352px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 64px;
}

.activites h2 {
    width: 100%;
}

.card-row-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activites-large-card {
    height: 448px;
    width: 304px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    transition: transform .2s;
}

.activites-large-card:hover {
    transform: scale(1.05);
}

.activites-large-card-image {
    height: 395px;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
}

img[src="images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg"] {
    position: relative;
    right: 50%;
    height: 100%;
}

img[src="images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg"] {
    width: 100%;
    object-fit: cover;
}

.activites-card-title {
    height: 40px;

}

.activites-card-title h3 {
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 16px;
}

.activites-bsize-card {
    height: 238px;
    width: 304px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    transition: transform .2s;
}

.activites-bsize-card:hover {
    transform: scale(1.05);
}

.activites-bsize-card-image {
    height: 185px;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

img[src="images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg"] {
        object-fit: cover;
        object-position: center;
        height: 185px;
        width: 304px;
}

.activites-csize-card {
    height: 168px;
    width: 304px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    transition: transform .2s;
    
}

.activites-csize-card:hover {
    transform: scale(1.05);
}

.activites-csize-card-image {
    height: 113px;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

img[src="images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg"] {
        object-fit: cover;
        height: 113px;
        width: 304px;
}

.activites-dsize-card {
    height: 196px;
    width: 304px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    transition: transform .2s;
    
}

.activites-dsize-card:hover {
    transform: scale(1.05);
}

.activites-dsize-card-image {
    height: 143px;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

img[src="images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg"] {
        object-fit: cover;
        object-position: top;
        height: 143px;
        width: 304px;
}

.activites-esize-card {
    height: 212px;
    width: 304px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    transition: transform .2s;
    
}

.activites-esize-card:hover {
    transform: scale(1.05);
}

.activites-esize-card-image {
    height: 159px;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

img[src="images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg"] {
        object-fit: cover;
        object-position: top;
        height: 159px;
        width: 304px;
}








footer {
    background-color: #F2F2F2;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    footer {
        width: 100%;
    }
}