body {
    font-family: 'Raleway', sans-serif;
    line-height: 2;
    box-sizing: border-box;
    max-width: 1500px;
    font-weight: 300;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.navbar ul {
    display: flex;
    margin-right: 48px;
    justify-content: space-between;
}

.navbar ul li {
    padding: 32px;
    text-align: center;
}

.navbar ul li:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 30px;
}

img[src="images/logo/Booki.png"] {
    height: 48px;
    width: auto;
    margin-left: 64px;
}

@media only screen and (max-width: 768px) {

    .navbar {
        justify-content: space-around;
    }

    img[src="images/logo/Booki.png"] {
        padding-top: 32px;

    }

    .logo {
        margin-left: auto;
        margin-right: auto;
    }

    .navbar ul {
        padding: 0;
        margin: 0;
        justify-items: stretch;
        width: 100%;
    }

    .navbar ul li {
        padding: auto;
        margin: 0;
        flex-grow: 1;
        flex-basis: 50%;
        padding-top: 16px;
        padding-bottom: 14px;
        border-bottom: 2px solid #F2F2F2;
    }

    .navbar ul li:hover {
        border-bottom: 2px solid #0065FC;
        border-top: 0px;
        padding-top: 16px;

    }

}

.herotitle {
    margin-left: 48px;
    padding-bottom: 16px;
}

.herotitle h1,
.herotitle p {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
}

@media only screen and (max-width: 768px) {
    .herotitle {
        margin-left: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-right: 40px;
    }
}

main {
    margin-left: 48px;
}

@media only screen and (max-width: 768px) {
    main {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.search-box {
    display: flex;
    width: 424px;
    border-radius: 16px;
    overflow: hidden;
    justify-content: center;

}

.fa-location-dot {
    background-color: #F2F2F2;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.input-field {
    width: auto;
    padding-left: 16px;
    outline: none;
    border: 1px solid #F2F2F2;
    flex: 1;

}

::placeholder {
    color: black;
    font-weight: 600;
    font-size: 18px;
}

input[type="submit"],
button[type="submit"] {
    background-color: #0065FC;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding-left: 16px;
    padding-right: 16px;
    border: 0px;
    cursor: pointer;
}

input[type="submit"] {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

button[type="submit"] {
    border-radius: 16px;
    position: relative;
    right: 8px;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: white;
    color: #0065FC;
}

@media only screen and (min-width: 768px) {
    button[type="submit"] {
        visibility: hidden;
    }
}

@media only screen and (max-width: 768px) {
    .search-box {
        width: 100%;
    }

    input[value="Rechercher"] {
        display: none;
    }

}



footer {
    background-color: #F2F2F2;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;


}